<template name="search">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center p-md">

                        <div class="search-form">
                            <form action="{{pathFor route='dashboard1'}}" method="get">
                                <div class="input-group">
                                    <input type="text" placeholder="Admin Theme" name="search" class="form-control input-lg">
                                    <div class="input-group-btn">
                                        <button class="btn btn-lg btn-primary" type="submit">
                                            Search
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>强大搜索 <small>S想写什么写什么</small></h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <p class="m-b-lg">
                            A rich programming API and a CSS theming system are available for customizing CodeMirror to fit your application, and extending it with new functionality. For mor info go to
                            <a href="http://codemirror.net/" target="_blank">http://codemirror.net/</a>
                        </p>
<textarea id="code1">
    var SpeechApp = angular.module('SpeechApp', []);

    function VoiceCtrl($scope) {

        $scope.said='...';

        $scope.helloWorld = function() {
            $scope.said = "Hello world!";
        }

        $scope.commands = {
            'hello (world)': function() {
                if (typeof console !== "undefined") console.log('hello world!')
                $scope.$apply($scope.helloWorld);
            },
            'hey': function() {
                if (typeof console !== "undefined") console.log('hey!')
                $scope.$apply($scope.helloWorld);
            }
        };

        annyang.debug();
        annyang.init($scope.commands);
        annyang.start();
    }
</textarea>
                        
                        <span class="simple_tag">Scroll navbar</span>
                        <span class="simple_tag">Top fixed navbar</span>
                        <span class="simple_tag">Boxed layout</span>
                        <span class="simple_tag">Scroll footer</span>
                        <span class="simple_tag">Fixed footer</span>
         
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>强大搜索 <small>S想写什么写什么</small></h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <p class="m-b-lg">
                            A rich programming API and a CSS theming system are available for customizing CodeMirror to fit your application, and extending it with new functionality. For mor info go to
                            <a href="http://codemirror.net/" target="_blank">http://codemirror.net/</a>
                        </p>
<textarea id="code2">
    var SpeechApp = angular.module('SpeechApp', []);

    function VoiceCtrl($scope) {

        $scope.said='...';

        $scope.helloWorld = function() {
            $scope.said = "Hello world!";
        }

        $scope.commands = {
            'hello (world)': function() {
                if (typeof console !== "undefined") console.log('hello world!')
                $scope.$apply($scope.helloWorld);
            },
            'hey': function() {
                if (typeof console !== "undefined") console.log('hey!')
                $scope.$apply($scope.helloWorld);
            }
        };

        annyang.debug();
        annyang.init($scope.commands);
        annyang.start();
    }
</textarea>
                        
                        <span class="simple_tag">Scroll navbar</span>
                        <span class="simple_tag">Top fixed navbar</span>
                        <span class="simple_tag">Boxed layout</span>
                        <span class="simple_tag">Scroll footer</span>
                        <span class="simple_tag">Fixed footer</span>
         
                    </div>
                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>强大搜索 <small>S想写什么写什么</small></h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <p class="m-b-lg">
                            A rich programming API and a CSS theming system are available for customizing CodeMirror to fit your application, and extending it with new functionality. For mor info go to
                            <a href="http://codemirror.net/" target="_blank">http://codemirror.net/</a>
                        </p>
<textarea id="code3">
    var SpeechApp = angular.module('SpeechApp', []);

    function VoiceCtrl($scope) {

        $scope.said='...';

        $scope.helloWorld = function() {
            $scope.said = "Hello world!";
        }

        $scope.commands = {
            'hello (world)': function() {
                if (typeof console !== "undefined") console.log('hello world!')
                $scope.$apply($scope.helloWorld);
            },
            'hey': function() {
                if (typeof console !== "undefined") console.log('hey!')
                $scope.$apply($scope.helloWorld);
            }
        };

        annyang.debug();
        annyang.init($scope.commands);
        annyang.start();
    }
</textarea>
                        
                        <span class="simple_tag">Scroll navbar</span>
                        <span class="simple_tag">Top fixed navbar</span>
                        <span class="simple_tag">Boxed layout</span>
                        <span class="simple_tag">Scroll footer</span>
                        <span class="simple_tag">Fixed footer</span>
         
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>强大搜索 <small>S想写什么写什么</small></h5>
                        {{>iboxTools}}
                    </div>
                    <div class="ibox-content">
                        <p class="m-b-lg">
                            A rich programming API and a CSS theming system are available for customizing CodeMirror to fit your application, and extending it with new functionality. For mor info go to
                            <a href="http://codemirror.net/" target="_blank">http://codemirror.net/</a>
                        </p>
<textarea id="code4">
    var SpeechApp = angular.module('SpeechApp', []);

    function VoiceCtrl($scope) {

        $scope.said='...';

        $scope.helloWorld = function() {
            $scope.said = "Hello world!";
        }

        $scope.commands = {
            'hello (world)': function() {
                if (typeof console !== "undefined") console.log('hello world!')
                $scope.$apply($scope.helloWorld);
            },
            'hey': function() {
                if (typeof console !== "undefined") console.log('hey!')
                $scope.$apply($scope.helloWorld);
            }
        };

        annyang.debug();
        annyang.init($scope.commands);
        annyang.start();
    }
</textarea>
                        
                        <span class="simple_tag">Scroll navbar</span>
                        <span class="simple_tag">Top fixed navbar</span>
                        <span class="simple_tag">Boxed layout</span>
                        <span class="simple_tag">Scroll footer</span>
                        <span class="simple_tag">Fixed footer</span>
         
                    </div>
                </div>

            </div>
        </div>
            </div>
</template>